{% extends 'base.html' %}
 {% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
        <div class="card-img-left d-none d-md-flex">
          <!-- Background image for card set in CSS! -->
        </div>
        <div class="card-body p-4 p-sm-5">
          <h1 class="card-title text-center mb-5 fw-light fs-5">
            <strong>ADD USER</strong>
          </h1>
          {% if messages %} {% for message in messages %}
          <h4 style="color: crimson">{{message}}</h4>

          {% endfor %} {% endif %}

          <h6>
            {{ form.password1.errors }} {{ form.password2.errors }} 
            {{ form.username.errors }} {{ form.email.errors }}
          </h6>
          <form action="" method="POST" class="form-outline mb-4">
            {% csrf_token %} {{form.as_p}}
            {% for message in messages %}
            <!-- <div>
              <p class="text-success">{{message}}</p>
            </div> -->
            {% endfor %}
            <button
              class="btn btn-su btn-lg btn-block my-2 text-dark bg-success font-weigth-bolder"
              type="submit"
            >
              ADD
            </button>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}