{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="col-sm-8 offset-2">
    <h4 class="text-center my-3">Update Coustumer Information</h4>
    <form action="" method="post">
      {% csrf_token %} {{form.as_p}} {% for message in messages %}
      <div>
        <p class="text-danger my-5">{{message}}</p>
      </div>
      {% endfor %}
      <input type="submit" class="text-center btn btn-success" value="Update" />
      <a href="{% url 'addandshow' %}" class="text-center btn btn-info"
        >Home
      </a>
    </form>
  </div>
</div>
{% endblock content%}
